[Unit]
Description=Amnezic Backend STG server

[Service]
User=ubuntu
PIDFile=/run/amnezic.stg.pid
ExecStart=/home/ubuntu/_git/oci-tools/systemd-run-app amnezic stg 9102

[Install]
WantedBy=multi-user.target