[Unit]
Description=Games Backend PRD server

[Service]
User=ubuntu
PIDFile=/run/games.prd.pid
ExecStartPre=/bin/rm -f /run/games.prd.pid
ExecStart=/home/ubuntu/_prd/games-go/scripts/run prd

[Install]
WantedBy=multi-user.target