[Unit]
Description=Amnezic Backend PRD server

[Service]
User=ubuntu
PIDFile=/run/amnezic.prd.pid
ExecStart=/home/ubuntu/_git/oci-tools/systemd-run-app amnezic prd 9101

[Install]
WantedBy=multi-user.target